<div class="dropdown dropdown--right {{#if classes}}{{classes}}{{/if}}">
  <div class="dropdown__items">
    {{#each items }}
      <a href="{{{ this.href }}}" class="dropdown__item">
        {{{ this.icon }}}
        {{{ this.title }}}
      </a>
    {{/each}}
  </div>
</div>
