{% macro errorScreen(type, code, description) %}
  <div class="error-screen">
    {% if type === 'client' %}
      <div class="error-screen__image">
        <img src="./../images/404-bg.png" alt="Ошибка 404">
      </div>
    {% elif type === 'server' %}
      <div class="error-screen__image">
        <img src="./../images/500-bg.png" alt="Ошибка 500">
      </div>
    {% endif %}
    
    <h1 class="error-screen__code error-screen__code--{{ code }}">{{ code }}</h1>
    <p class="error-screen__description">{{ description }}</p>

    <a class="error-screen__go-back" href="index.njk">Назад к чатам</a>
  </div>
{% endmacro %}
