<form class="form upload-avatar">
  <div class="upload-avatar__field">
    <label class="upload-avatar__button" for="avatar">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.9635 17.079C18.7942 17.079 19.2628 16.1249 18.7548 15.4675L13.708 8.93634C13.3077 8.41827 12.5257 8.41827 12.1254 8.93634L9.04227 12.9263C8.6481 13.4364 7.88137 13.4458 7.47487 12.9455L6.19282 11.3676C5.79263 10.875 5.04079 10.875 4.64059 11.3676L1.3249 15.4484C0.793917 16.1019 1.25898 17.079 2.10101 17.079H10.8334L17.9635 17.079Z" fill="white"/>
        <circle cx="6.25008" cy="4.58333" r="2.08333" fill="white"/>
      </svg>
      Выберите файл
    </label>
    {{{ file-field }}}
  </div>

  <div class="form__buttons">
    {{{ button-save }}}
  </div>
  
  <div class="upload-avatar__info"></div>
</form>
