{% from "../button/button.njk" import button %}

{% macro profile(data, isEditable = false) %}
  <div class="profile">
    <div class="profile__content">
      <div class="profile__avatar" data-change-text="Поменять аватар">
        {% if data.avatar %}
          <img src="{{ data.avatar }}" alt="{{ data.userName }}">
        {% else %}
          <img src="./../images/svg/placeholder.svg" alt="Изображение не загружено">
        {% endif %}
      </div>

      <h1 class="profile__name">{{ data.userName }}</h1>

      {% if isEditable %}
        <div class="profile__info form">
          <div class="form__field">
            <label for="email">Почта</label>
            <input type="email" name="email" id="email" placeholder="ivanov@yandex.ru" aria-label="Ваш email"
              value="{{ data.email }}">
          </div>
          <div class="form__field">
            <label for="login">Логин</label>
            <input type="text" name="login" id="login" placeholder="konstantin_ivanov" aria-label="Ваш логин"
              value="{{ data.login }}">
          </div>
          <div class="form__field">
            <label for="name">Имя</label>
            <input type="text" name="name" id="name" placeholder="Константин" aria-label="Ваше имя"
              value="{{ data.userName }}">
          </div>
          <div class="form__field">
            <label for="surname">Фамилия</label>
            <input type="text" name="surname" id="surname" placeholder="Иванов" aria-label="Ваша фамилия"
              value="{{ data.userSurname }}">
          </div>
          <div class="form__field">
            <label for="chatname">Имя в чате</label>
            <input type="text" name="chatname" id="chatname" placeholder="Константин" aria-label="Ваше имя в чате"
              value="{{ data.nameInChat }}">
          </div>
          <div class="form__field">
            <label for="phone">Телефон</label>
            <input type="tel" name="phone" id="phone" placeholder="+7 (909) 967 30 30" aria-label="Ваш телефон"
              value="{{ data.phone }}">
          </div>
        </div>

        <div class="profile__actions">
          {{ button('Сохранить') }}
        </div>
      {% else %}
        <div class="profile__info">
          <div class="profile__info-item">
            <div class="profile__info-item-prop">Почта</div>
            <div class="profile__info-item-value">{{ data.email }}</div>
          </div>
          <div class="profile__info-item">
            <div class="profile__info-item-prop">Логин</div>
            <div class="profile__info-item-value">{{ data.login }}</div>
          </div>
          <div class="profile__info-item">
            <div class="profile__info-item-prop">Имя</div>
            <div class="profile__info-item-value">{{ data.userName }}</div>
          </div>
          <div class="profile__info-item">
            <div class="profile__info-item-prop">Фамилия</div>
            <div class="profile__info-item-value">{{ data.userSurname }}</div>
          </div>
          <div class="profile__info-item">
            <div class="profile__info-item-prop">Имя в чате</div>
            <div class="profile__info-item-value">{{ data.nameInChat }}</div>
          </div>
          <div class="profile__info-item">
            <div class="profile__info-item-prop">Телефон</div>
            <div class="profile__info-item-value">{{ data.phone }}</div>
          </div>
        </div>

        <div class="profile__actions">
          <a href="change-settings.njk" class="profile__actions-item">Изменить данные</a>
          <a href="change-password.njk" class="profile__actions-item">Изменить пароль</a>
          <a href="#" class="profile__actions-item profile__actions-item--alert">Выйти</a>
        </div>
      {% endif %}
    </div>
  </div>
{% endmacro %}
