.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  label {
    font-size: 12px;
    color: $text-gray;
    line-height: 1.3;
    margin-bottom: 5px;
    display: block;
    position: absolute;
    top: -5px;
    left: 15px;
    font-weight: 500;
  }

  input[type="text"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], select, textarea {
    padding: 12px 15px 8px;
    border: 1px solid $gray-4;
    background: $gray-4;
    font-family: $main-font;
    font-size: 14px;
    font-weight: 500;
    color: $text-dark;
    width: 100%;
    display: block;
    transition: 0.3s;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 0 50px $gray-4;
    line-height: 1;

    @include input-placeholder {
      font-family: $main-font;
      font-size: 14px;
      color: $gray;
    }

    &:focus {
      border: 1px solid $gray-3;
      outline: none;
    }
  }

  textarea {
    resize: vertical;
  }
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__field-info {
  padding-left: 15px;
  font-size: 12px;
  margin-top: 4px;
  line-height: 1.25;
}

.form__field--error {
  input[type="text"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], select, textarea {
    background: $alert-bg;
    border: 1px solid $alert-bg;
    -webkit-box-shadow: inset 0 0 0 50px $alert-bg;
  }
}

.form__field--error .form__field-info {
  color: $alert;
}

.form__buttons {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  
  .button {
    width: 100%;
  }
}
