<main class="app">
  <aside class="app__sidebar app__sidebar--white">
    <h1 class="app__sidebar-title">Вход</h1>
    {{{ auth-form }}}
  </aside>

  <div class="app__main">
    {{{ welcome }}}
  </div>
</main>


