<div class="welcome">
  <img class="welcome__image" src="{{{image}}}" alt="{{ title }}">
  <span class="welcome__app-name">{{ title }}</span>
  <span class="welcome__app-description">{{ desc }}</span>
</div>
