.chat-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  column-gap: 10px;
  border-bottom: 1px solid $gray-3;
}

.chat-header__avatar {
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: $gray-2;
}

.chat-header__title {
  font-weight: 700;
  flex-grow: 1;
}

.chat-header__actions-trigger {
  background: 0;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
  
  &:hover {
    background: $gray-2;
  }
}

.chat-header__actions-wrap {
  position: relative;
}
