.chats-list {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $gray-3;
}

.chats-list__empty {
  text-align: center;
  color: $gray-0;
  padding: 24px 10px;
}

.chats-list__item {
  padding: 12px 10px;
  border-bottom: 1px solid $gray-3;
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
  transition: 0.3s;
  color: $text-dark;
  
  &:hover {
    background: $accent;
    border-bottom: 1px solid $accent;
  }
}

.chats-list__item-img {
  min-width: 48px;
  max-width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: $gray-2;
}

.chats-list__item-content {
  display: block;
  flex-grow: 1;
}

.chats-list__item-title {
  display: block;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
}

.chats-list__item-desc {
  font-size: 12px;
  color: $gray-0;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.chats-list__item-yours {
  color: $text-dark;
  font-weight: 500;
}

.chats-list__item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  align-self: stretch;
  color: $gray-0;
  font-size: 10px;
}

.chats-list__item-datetime {
  white-space: nowrap;
}

.chats-list__unread {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: $accent-gradient;
  color: $text-light;
  font-size: 12px;
  border-radius: 50%;
  padding: 7px 8px 5px;
  font-weight: 500;
}
