.chats-list {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $gray-3;
  position: relative;
  flex-grow: 1;
}

.chats-list__empty {
  text-align: center;
  color: $text-gray;
  padding: 24px 10px;
}

.chats-list__item {
  padding: 12px 10px;
  border-bottom: 1px solid $gray-3;
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
  transition: 0.3s;
  color: $text-dark;

  &:hover {
    background: $accent;
    border-bottom: 1px solid $accent;
  }
}

.chats-list__item-img {
  min-width: 48px;
  max-width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: $gray-2;
}

.chats-list__item-content {
  display: block;
  flex-grow: 1;
}

.chats-list__item-title {
  display: block;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
}

.chats-list__item-desc {
  font-size: 12px;
  color: $text-gray;
  line-height: 1.2;
  /* stylelint-disable */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  /* stylelint-enable */
  overflow: hidden;
}

.chats-list__item-yours {
  color: $text-dark;
  font-weight: 500;
}

.chats-list__item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  align-self: stretch;
  color: $text-gray;
  font-size: 10px;
}

.chats-list__item-datetime {
  white-space: nowrap;
}

.chats-list__unread {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: $accent-gradient;
  color: $text-light;
  font-size: 12px;
  border-radius: 50%;
  padding: 7px 8px 5px;
  font-weight: 500;
}

.chats-list__add {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 -4px 80px 0 rgb(0 0 0 / 25%);
  font-family: $main-font;
  cursor: pointer;

  &:hover {
    background: #dfdfdf;
  }

  svg {
    margin-right: 10px;
  }
}
