---
pageTitle: Авторизация
---
{{!< default}}

<div class="app__sidebar app__sidebar--white">
  <h1 class="app__sidebar-title">Вход</h1>
  <div class="app__sidebar-form form">
    <div class="form__field form__field--error">
      <label for="login">Логин</label>
      <input type="text" name="login" id="login" placeholder="Ваш логин" aria-label="Ваш логин" value="matroskin">
      <span class="form__field-info">Неверный логин</span>
    </div>
    <div class="form__field">
      <label for="password">Пароль</label>
      <input type="password" name="password" id="password" placeholder="***********************"
        aria-label="Ваш пароль">
    </div>

    <div class="form__buttons">
      {{> button/button text="Авторизоваться" }}
      {{> button/button text="Нет аккаунта?" classes="button--link" }}
    </div>
  </div>
</div>

<div class="app__main">
  {{> welcome/welcome title='Pechkin Messanger' desc='место, где нет преград общению' }}
</div>
 
