{% extends '../layouts/settings.njk' %}

{% from "../components/button/button.njk" import button %}

{% set pageTitle = 'Изменение пароля' %}

{% block main %}
  <div class="app__main">
    <div class="profile">
      <div class="profile__content">
        <div class="profile__info form">
          <div class="form__field">
            <label for="old-password">Старый пароль</label>
            <input type="password" name="old-password" id="old-password" placeholder="***********************"
              value="*****************"
              aria-label="Ваш старый пароль">
          </div>
          <div class="form__field">
            <label for="password">Новый пароль</label>
            <input type="password" name="password" id="password" placeholder="***********************"
              aria-label="Ваш новый пароль">
          </div>
          <div class="form__field form__field--error">
            <label for="password-confirm">Повторите пароль</label>
            <input type="password" name="password-confirm" id="password-confirm" placeholder="***********************"
              aria-label="Ваш пароль (ещё раз)">
            <span class="form__field-info">Пароли не совпадают</span>
          </div>
        </div>

        <div class="profile__actions">
          {{ button('Сохранить') }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

