---
pageTitle: Изменение пароля
---
{{!< default}}

<aside class="app__sidebar app__sidebar--slim">
  {{>
  button/button
    text="Назад" classes='button--icon app__back-btn'
    icon='
    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="17" y="11.8" width="11" height="1.6" transform="rotate(-180 17 11.8)" fill="white"/>
      <path d="M10 16L6 11L10 6" stroke="white" stroke-width="1.6"/>
    </svg>'
  }}
</aside>

<div class="app__main">
  <div class="profile">
    <div class="profile__content">
      <div class="profile__info form">
        <div class="form__field">
          <label for="old-password">Старый пароль</label>
          <input type="password" name="old-password" id="old-password" placeholder="***********************"
            value="*****************"
            aria-label="Ваш старый пароль">
        </div>
        <div class="form__field">
          <label for="password">Новый пароль</label>
          <input type="password" name="password" id="password" placeholder="***********************"
            aria-label="Ваш новый пароль">
        </div>
        <div class="form__field form__field--error">
          <label for="password-confirm">Повторите пароль</label>
          <input type="password" name="password-confirm" id="password-confirm" placeholder="***********************"
            aria-label="Ваш пароль (ещё раз)">
          <span class="form__field-info">Пароли не совпадают</span>
        </div>
      </div>

      <div class="profile__actions">
        {{> button/button text="Сохранить" }}
      </div>
    </div>
  </div>
</div>

