{% extends '../layouts/default.njk' %}
{% from "../components/chat/chat.njk" import chat %}

{% block main %}
  <div class="app__main">
    {# chatHistory prop used from ./data.json #}
    {{ chat(chatHistory) }}
  </div>
{% endblock %}
 
