.chat-conversation {
  flex-grow: 1;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: calc(100vh - 131px);
}

.chat-conversation__messages {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  overflow-y: auto;
}

.chat-conversation__date {
  font-size: 12px;
  color: $text-gray;
  align-self: center;
  margin-bottom: 30px;

  & ~ .chat-conversation__date {
    margin-top: 30px;
  }
}

.chat-conversation__message {
  padding: 12px 12px 4px;
  font-size: 13px;
  color: $text-dark;
  background: $accent-pale;
  max-width: 800px;
  min-width: 350px;
  border-radius: 0 15px 15px;
  line-height: 1.4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  position: relative;

  p {
    margin-bottom: 4px;
  }

  p + p {
    margin-top: 4px;
  }
}

.chat-conversation__message--mine {
  background: $accent-secondary;
  align-self: flex-end;
  border-radius: 15px 15px 0;
  margin-left: auto;
}

.chat-conversation__message--asset {
  background: $text-light;
  border: 1px solid $gray-3;
  min-width: unset;
  justify-content: center;
}

.chat-conversation__timestamp {
  color: $text-gray;
  flex-grow: 1;
  text-align: right;
  font-size: 12px;
}

.chat-conversation__message--mine .chat-conversation__timestamp {
  color: $success;
}

.chat-conversation__message--asset .chat-conversation__timestamp {
  background: $gray;
  color: $text-light;
  border-radius: 15px;
  padding: 2px 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  flex-grow: 0;
  position: absolute;
  right: 10px;
  bottom: 8px;
}
