{% macro modal(title, text, content) %}
  <div class="modal">
    <div class="modal__overlay"></div>
    <div class="modal__body">
      <svg class="modal__close" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M5 5L12 12M12 12L19 19M12 12L19 5M12 12L5 19" stroke="#1E1E1E" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <span class="modal__title">{{title}}</span>
      {% if text %}
        {{ text }}
      {% endif %}
      {% if content %}
        {{ text | safe }}
      {% endif %}
    </div>
  </div>
{% endmacro %}
