<main class="app">
  <aside class="app__sidebar app__sidebar--white">
    <h1 class="app__sidebar-title">Страницы:</h1>
    
    <div class="app__pages-links">
      <a href="/auth" class="app__pages-link-item">Авторизация</a>
      <a href="/register" class="app__pages-link-item">Регистрация</a>
      <a href="/chats" class="app__pages-link-item">Список чатов</a>
      <a href="/chat/" class="app__pages-link-item">Чат</a>
      <a href="/profile" class="app__pages-link-item">Профиль</a>
      <a href="/change-settings" class="app__pages-link-item">Редактирование профиля</a>
      <a href="/change-password" class="app__pages-link-item">Редактирование пароля</a>
    </div>
  </aside>

  <div class="app__main">
    {{{ welcome }}}
  </div>
</main>


