{% extends '../layouts/default.njk' %}

{% from "../components/button/button.njk" import button %}

{% block sidebar %}
  <aside class="app__sidebar app__sidebar--slim">
    {{ button(
      'Назад',
      ['button--icon', 'app__back-btn'],
      '<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="17" y="11.8" width="11" height="1.6" transform="rotate(-180 17 11.8)" fill="white"/>
        <path d="M10 16L6 11L10 6" stroke="white" stroke-width="1.6"/>
      </svg>
      ')
    }}
  </aside>
{% endblock %}

{% block main %}{% endblock %}
