.link {
  color: $success;
  padding: 10px 0;
  border-bottom: 1px solid $gray-3;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }

  &:last-of-type {
    border-bottom: 0;
  }

  &--alert {
    color: $alert;
  }
}
